<!DOCTYPE html>
<html>
{% load static %}
<head>
  <link rel="shortcut icon" href="{% static 'imagen/tienda.png' %}">
     <link rel="shortcut icon" href="/static/imagenes/rock.jpg" widht="16px" height="16px" />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
	{% block titulo %}
	
	{% endblock %}

</head>
<body style="background-color:#FFC268;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav nav-tabs">
  <li style="background-color: #000;" class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
   |{{ user }}|
  <li class="nav-item">
    <a class="nav-link" href="/lista_producto">Listar Producto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/register">Registrate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/crear_perfil">Crear perfil</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
  <li class="nav-item">
    <a class="nav-link" href="/agregar_producto">Agregar Producto</a>
  </li>
  <a class="nav-link disabled" href="/logout">Cerrar sesión</a>
  {% else %}
  <a class="nav-link disabled" href="/login">Iniciar sesion</a>
  {% endif %}
  </li>  
</ul>
  
  </div>
</nav>
  
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/static/imagen/carrefour.jpg" width="300px" height="600px" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/imagen/olimpica.jpg" width="300px" height="600px" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/imagen/exito.jpg" width="300px" height="600px" alt="Third slide">
    </div>
  </div>
</div>

  
  <div class="container-fluid">

{% block content %}
{% endblock %}
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</body>
</html>
